<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/Name.cshtml">
        The Name:<br />
        <input type="text" name="Name" value="" />
        <input type="submit" value="Submit" class="submit" />
    </form>
</body>
</html>
